<!DOCTYPE html>
<html>
<head>
  <title>HBlog</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body>

  <div class="container">

    <div class="col-lg-11 col-offset-lg-1">
      <%= yield %>
    </div>

  </div>

</body>
</html>
